{{extend 'layout_check_word.html'}}
{{block center}}




<div class="article_list_containter">

  <div class="header">
      <span id="countdown"></span>

      <!--<table class="header_option">

          <tr >
              <td>Dang Hot</td>
              <td>Cho tra loi</td>
          </tr>

      </table>
      -->

    <!-- end #header --></div>
  <div class = "content">
    <h1>  </h1>

      <div id="word_info">{{=item}} </div>
      <div id="word_meanning_explain_1"> </div>
      <div>
      <!--
      <button id ="user_click_next_button" type="button" >next word</button>
      -->
         </div>
       <script>
          // set the date we're counting down to
          var count_down_timer = 10000;
var target_date = new Date().getTime() + count_down_timer;

// variables for time units
var days, hours, minutes, seconds;

// get tag element
var countdown = document.getElementById("countdown");

// update the tag with id "countdown" every 1 second
var refreshIntervalId = setInterval("count_down_logic();", 1000);

   function count_down_logic(){
       // find the amount of "seconds" between now and target
       var current_date = new Date().getTime();
       var seconds_left = (target_date - current_date) / 1000;


       seconds = parseInt(seconds_left % 60);

       // format countdown string + set tag value
       countdown.innerHTML =  seconds + "s";

       if (seconds ==0) {
           reset_timer_and_display_new_example();
       }

   }



    function clear_word_info(){
        document.getElementById("word_info").innerHTML = ""
        document.getElementById("word_meanning_explain_1").innerHTML = ""
    }
    function clear_example_info(){
        document.getElementById("word_meanning_explain_1").innerHTML = ""
    }
    function reset_count_down_timer(){
        target_date = new Date().getTime() + count_down_timer;
    }
    function reset_timer_and_display_new_word() {
              clear_word_info();
              reset_count_down_timer();
              ajax('next_word', '', ':eval');
              document.getElementById("word_detail_info").innerHTML = ""
          }
    function reset_timer_and_display_new_example() {
              clear_example_info();
              reset_count_down_timer();
              ajax('check_example', '', ':eval');
          }

    // click button
     $('#user_click_next_button').click(function () {
         reset_timer_and_display_new_word();
    });

    // detect enter key
          $(document).keypress(function(e) {
              if(e.which == 13) {
                  //alert('You pressed enter!');
                  reset_timer_and_display_new_word();
              }
              if(e.which == 32) {
                  //alert('You pressed space!');
                  reset_timer_and_display_new_example();
              }
          });
      </script>


    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2></h2>
    <p></p>
    <!-- end #mainContent --></div>
  <div id="footer">

  <!-- end #footer --></div>
<!-- end #container --></div>
{{end}}

<!--
{{block right_sidebar}}
{{end}}
-->
</html>


