{{extend 'layout.html'}}

<div class="post_article">
  <div>
    <h1>Write an article</h1>
    <!-- end #header --></div>
  <div id="mainContent">
    <h1>  </h1>
    <form action="post_article_class" method="post">
         <p>
             Select Class of article
         </p>

        {{for article in article_class_list:}}
         <p>
             <input type="text" name="article_class" value = "{{=article.name}}">
         </p>
        {{pass}}

        <p>

            <input type="submit" value="Submit">
        </p>
    </form>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2></h2>
    <p></p>
    <!-- end #mainContent --></div>
<!-- end #container --></div>

</html>


