{{extend 'layout.html'}}



<div class="article_container">
  <div>


            <table  >
            <tr class="article_tag">
               <td>
                   {{tag_list = db(db.tag_tbl.question_info ==item.id).select()}}

                   {{for tag in tag_list:}}
                   {{= db(db.article_tag.id == tag.tag_info).select()[0].name}}
                   {{pass}}

               </td>
           </tr>
           <tr class="article_header">
               <td>
                   {{=A(XML(item.article_header),_href=URL(r=request,f='article',args=[item.id]))}}
               </td>
           </tr>
          <tr class="article_introduction">
              <td>
                {{=XML(item.story)}}
              </td>
          </tr>
          <tr class="article_popularity_info">
              <td >
                  {{=len(db(db.comment_tbl.id == item.id).select())}} quan diem {{=len(db(db.follow_tbl.id == item.id).select())}} quan tam
                 </td>

          </tr>
          </table>


   </div>
  <div id="mainContent">



     <input id="inputCommentButton" name="questionId" value = "nhap comment here">


    <form id="realEditor"  action="post_comment" method="post">
        <p>
           <input type="hidden" name="questionId" value = {{=item.id}}>
        </p>
        <!--
        <p>
            <textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10">

            </textarea>
        </p>
        -->

                <textarea  id="editor1" name="editor1" rows="10" >

            </textarea>

        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
  </div>

   <div class="article_comment_container">
    <table>
        {{for comment in comment_list:}}
      <tr>
        <td>
            <table  >
            <tr class="user_info">
                 <td>
                {{= db(db.auth_user.id == comment.author_info).select()[0].first_name}}
               </td>
           </tr>
            <tr class="comment_info">
                 <td>
                {{=XML(comment.comment_info)}}
               </td>
           </tr>
          <tr class="article_popularity_info">
              <td >
                  thich   binh luan  bao cao
                 </td>

          </tr>
            </table>
        </td>
      </tr>
      {{pass}}
    </table>
   </div>


    <div>
      {{=A("edit",_href=URL(r=request,f='edit_article',args=[item.id]))}}
    </div>

    <div>
      {{=A("delete",_href=URL(r=request,f='delete_article',args=[item.id]))}}
    </div>
</div>





<script>
$('#realEditor').hide();
$( '#inputCommentButton' ).click(function() {
  $( this ).hide( );
  <!--$( this ).slideUp();-->
    $( '#realEditor' ).show(  );

});
</script>