{{extend 'layout.html'}}


<div id="container">
  <div id="header">

    <!-- end #header --></div>
  <div id="mainContent">
    <h1>  </h1>
    <form action="" method="post">
         <p>
             Select Class of article
         </p>
         <p>
         <select name="article_class" >
        {{for item in article_class_list:}}

          <option value="{{=item.name}}">{{=item.name}}</option>

        {{pass}}
        </select>
        </p>
         <p>
           <input type="text" name="article_header" value = "{{=article.article_header}}">
        </p>
        <p>
           <input type="text" name="article_introduction" value = "{{=article.article_introduction}}">
        </p>
        <p>
            <label for="editor1">
               Sua lai blog
            </label>
            <textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10">
                {{=article.story}}
            </textarea>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2></h2>
    <p></p>
    <!-- end #mainContent --></div>
  <div id="footer">
    <p>xem thêm....</p>
  <!-- end #footer --></div>
<!-- end #container --></div>

</html>


