<html>
<head>
    <link rel="stylesheet" href="{{=URL('static','microphone/microphone.min.css')}}">
  </head>
  <body style="text-align: center;">
  <div id="avatar_image">
      <img src="{{=URL('static','images/agent.jpg')}}" width="10%"  />
      <div id="avatar_saying">
          say something

      </div>
  </div>

    <div id="user_image">
        <!--
        <img src="{{=URL('static','images/me_pic.jpg')}}" />
        -->
    </div>
    <center><div id="microphone"></div></center>
    <pre id="result"></pre>
    <div id="info"></div>
    <div id="error"></div>
    <script src="{{=URL('static','microphone/microphone.min.js')}}"></script>
<style>
    #user_image{
        margin-top:40px;
        margin-bottom:40px;
    }
    #avatar_saying{
    margin-top:20px;
    margin-bottom:80px;

    }
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>

        // leave this code here for using URL
      function post_text_to_server(saying_info){
         var request = $.ajax({
                url: "{{=URL('handle_user_saying')}}",
                type: "POST",
                data: { info  : saying_info },
                dataType: "html"
          });


        request.done(function( msg ) {
            var msg = new SpeechSynthesisUtterance(msg);
            window.speechSynthesis.speak(msg);
            return msg;

        });

        request.fail(function( jqXHR, textStatus ) {
            //alert( "Request failed: " + textStatus );
        });

      }

      var mic = new Wit.Microphone(document.getElementById("microphone"));
      var info = function (msg) {
        document.getElementById("info").innerHTML = msg;
      };
      var error = function (msg) {
        document.getElementById("error").innerHTML = msg;
      };
      mic.onready = function () {
        info("Microphone is ready to record");
      };
      mic.onaudiostart = function () {
        info("Recording started");
        error("");
      };
      mic.onaudioend = function () {
        info("Recording stopped, processing started");
      };
      mic.onresult = function (intent, entities) {
        var r = kv("intent", intent);

        for (var k in entities) {
          var e = entities[k];

          if (!(e instanceof Array)) {
            r += kv(k, e.value);
          } else {
            for (var i = 0; i < e.length; i++) {
              r += kv(k, e[i].value);
            }
          }
        }
        var response_info = "";
        post_text_to_server(r);
        document.getElementById("result").innerHTML = r;
      };
      mic.onerror = function (err) {
        error("Error: " + err);
      };
      mic.onconnecting = function () {
        info("Microphone is connecting");
      };
      mic.ondisconnected = function () {
        info("Microphone is not connected");
      };

      mic.connect("JCBLXRJ3MDVBDLKNTVK3KU5XGSA6WVZF");
      // mic.start();
      // mic.stop();

      function kv (k, v) {
        if (toString.call(v) !== "[object String]") {
          v = JSON.stringify(v);
        }
        return k + "=" + v + "\n";
      }

    </script>
  </body>
  </html>
