{{extend 'layout.html'}}
<style>
#suggestions { position: relative; }
.suggestions { background: white; border: solid 1px #55A6C8; }
.suggestions DIV { padding: 2px 4px 2px 4px; }
</style>


<div class="post_article">
  <div>


<script>
    $(function() {
        var scntDiv = $('#p_scents');
        var i = $('#p_scents p').size() ;
        var example_store = [];

        $('#addScnt').live('click', function() {
                //alert(i);
                //alert(example_store_temp);
                if ($('#p_scnt').val() == '') {
                    alert("pls write an example here");
                    $('#p_scnt').focus();
                    return;
                }
                $('<p><input type="text" id="p_scnt'+ i +'" size="20" name="p_scnt_' + i +'" value ="'+example_store_temp+' " /> <a href="#" id="remScnt">Remove</a></p>').appendTo(scntDiv);
                i++;
                $('#p_scnt').focus();
                $('#p_scnt').val('');
                return false;
        });

        $('#remScnt').live('click', function() {

                if( i > 1 ) {
                        $(this).parents('p').remove();
                        i--;
                }
                return false;
        });

        function get_example_value_from_input(){
            //alert("get_example_value_from_input");
            //alert(i);
            var j = i;


            for (var z=0;z<j;z++)
            {
                var temp_id ='p_scnt' ;
                if (z != 0)
                {
                    temp_id = 'p_scnt' +z;
                }
                //alert(temp_id);
                var bla = $('#' + temp_id).val();
                //alert(bla);
                example_store.push(bla);
                //alert(example_store);
                //alert(z);

            }
            //alert(example_store);

        }

        function clean_up(){
            //alert('clear ');
            var j = i;


            for (var z=0;z<j;z++)
            {
                var temp_id ='p_scnt' ;
                if (z != 0)
                {
                    temp_id = 'p_scnt' +z;
                    $('#' + temp_id).parents('p').remove();
                    i--;
                }
                if (z == 0)
                {
                    $('#p_scnt').val('');
                }
            }
            example_store = [];
            example_store_temp ='';
            $('#word').val('');
        }

        function send_array_to_server(){
            //alert("send to server");
            $.ajax({
        url: 'add_word',
        type: 'POST',
        data: {sheets:JSON.stringify(example_store)},
        dataType: "json",
        success : function (data) {
            // Code here
            clean_up();


        }
        });
            clean_up();


        }

        $('#submit1').click(function () {
           //alert(i);
           get_example_value_from_input();
           send_array_to_server();
      
           //$('#word').focus();

    });

var inputs = $(':input').keypress(function(e){


    if (e.which == 13) {
         var focused = document.activeElement;
         if (focused.id === "word") {
            //alert("focus on word");
            $('#p_scnt').focus();
        } else {
            //alert("press enter");
            example_store_temp =  $('#p_scnt').val();
            $( '#addScnt').trigger( "click" );
        }
        //alert(example_store_temp);
    }
});


});


</script>
    <!-- end #header --></div>

  <div id="mainContent">
    <h1>    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </h1>
    <form>
        <input type="text" id="word" name="word_info" placeholder="new word" />
        <!-- <button id ="submit1" type="button" >Click Me!</button>-->
        <br />
         <div style="position: absolute;" id="suggestions" class="suggestions"></div>
    </form>
      <div id="target"></div>
    <form>
<div id="p_scents">
    <p>
        <input type="text" id="p_scnt" size="20" name="p_scnt" value="" placeholder="example or meanning" />
        <a href="#" id="addScnt">add</a>
    </p>
</div>
        <br />
         <div style="position: absolute;" id="suggestions" class="suggestions"></div>
          <button id ="submit1" type="button" >save word</button>
    </form>
      <div id="example_added"></div>

    <script>
    var example_store = [];
    var example_store_temp ='';

    //focus on word
    $('#word').focus();

    function get_example_value_from_input(){
        alert("get_example_value_from_input");
        alert(i);
             var bla = $('#p_scnt').val();
                alert(bla);

    }


        jQuery("#word").keyup(function(){
      ajax('word_validation', ['word_info'], 'suggestions')});


var inputs = $(':input').keypress(function(e){


    if (e.which == 13) {
       //alert("press enter");

       e.preventDefault();
       var focused = document.activeElement;
       if (focused.id === "word") {


        } else {
       var nextInput = inputs.get(inputs.index(this) + 1);
       if (nextInput) {
          nextInput.focus();
       }
       }
    }
});

    </script>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2></h2>
    <p></p>
    <!-- end #mainContent --></div>
  <div id="footer">

  <!-- end #footer --></div>
<!-- end #container --></div>

</html>


